.page-container {
  color: white;
  width: 100vw;
  height: 100vh;
  padding-bottom: 130px;
}

.page-title {
  margin-bottom: 5px;
  font-size: 50px;
  font-family: "Share Tech Mono", monospace;
}
.page-subtitle {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-family: "Share Tech Mono", monospace;
}
