@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

html,
body,
:root,
#root,
.App {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
